body {
  background: #111;
  color: #0f0;
  font-family: Tahoma;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.level-box {
  text-align: center;
}

.circle {
  width: 200px;
  height: 200px;
  border: 4px solid #0f0;
  border-radius: 50%;
  position: relative;
  margin: 20px auto;
}

.line {
  width: 4px;
  height: 100%;
  background: red;
  position: absolute;
  left: 50%;
  transform-origin: center;
  transform: rotate(0deg);
}
