body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  direction: rtl;
  user-select: none; /* غیر فعال کردن کپی متن */
  overflow-x: hidden;
}

.container, .chat-container, .profile-container {
  max-width: 480px;
  margin: auto;
  padding: 10px;
}

button {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

.messages {
  height: 400px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.message {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.msg-user-pic img {
  border-radius: 50%;
  margin-left: 5px;
}

.msg-text img {
  width: 100px;
  height: auto;
  display: block;
  margin-top: 5px;
}
