body {
  margin: 0;
  overflow: hidden;
  background: #000;
  font-family: Tahoma;
}

#info {
  position: absolute;
  top: 15px;
  left: 15px;
  background: rgba(0,0,0,0.6);
  color: #0f0;
  padding: 10px 15px;
  border-radius: 10px;
  z-index: 10;
}

